body {background-image: URL("tennisball.jpg");
      background-repeat: no-repeat;
      background-size: 360px 300px
}
th {border: 1px solid #000000;text-align:left}
td {border: 1px solid #000000;text-align:left}
table {width:30%;border: 2px solid black;
       border-collapse: collapse;
     float: left;
     margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 15px}
.nav {
      background-color:yellow;
      width: 320px;
      height: 40px;
      margin-top: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      max-width:320px

     }
.logo  {
       width:190px;height:191px;
       }
.text {background-color:rgb(255, 255, 192);
       width: 300px;
       min-height: 500px;
       padding: 10px 10px 10px 10px;
       max-width: 320px


}
.karte {width:290px;height:210px;
        padding-bottom: 20px;
        float:left;
        padding-right: 20px

}
a:visited {

          color:darkblue;
}
a{
   text-decoration: none;
   padding: 5px;
   font-size: 120%

}
.center {text-align:center}
