body {background-image: URL("tennisball.jpg");
      background-repeat: no-repeat;
      background-size: 120%;
}
.nav {background-color:yellow;
      padding-left: 20px;
      margin-left: 120px;
      margin-right:0px;
      height: 490px;
      padding: 20px;
      padding-top: 10px;
      width:  140px;
      float: left
     }
.logo  {margin-left:120px;
       width:190px;height:191px;
       }
.text {background-color:rgb(255, 255, 192);
       margin-right: 60px;
       max-width: 950px;
       padding: 20px 0px 0px 20px;
       margin-left: 330px;
       min-height: 500px

}
.karte {width:490px;height:350px;
        padding-bottom: 20px;
        float:left;
        padding-right: 20px

}
a:visited {
          color:darkblue;
}
a {
   text-decoration: none;
}
